In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
covid1 = pd.read_csv(r"C:\Users\sony\Data_S\final_project\2019-coronavirus-dataset-01212020-01262020\2019_nC0v_20200121_20200126_cleaned.csv")
covid2 = pd.read_csv(r"C:\Users\sony\Data_S\final_project\novel-corona-virus-2019-dataset\covid_19_data.csv")
mers= pd.read_csv(r"C:\Users\sony\Data_S\final_project\mers-outbreak-dataset-20122019\country_count_latest.csv")
#mers= pd.read_csv(r"C:\Users\sony\Data_S\final_project\mers-outbreak-dataset-20122019\weekly_clean.csv")
hn = pd.read_csv(r"C:\Users\sony\Data_S\final_project\pandemic-2009-h1n1-swine-flu-influenza-a-dataset\hn.csv",encoding= 'unicode_escape')
sars = pd.read_csv(r"C:\Users\sony\Data_S\final_project\sars-outbreak-2003-complete-dataset\sars_2003_complete_dataset_clean.csv")

In [3]:
#No need for now but we can see how its cleaned
#covid1.info()

In [4]:
covid1.shape

(368, 8)

In [5]:
#this one I think butter coz upto date but need for cleaning 
#covid_19_data.csv
#Sno - Serial number
#ObservationDate - Date of the observation in MM/DD/YYYY
#Province/State - Province or state of the observation (Could be empty when missing)
#Country/Region - Country of observation
#Last Update - Time in UTC at which the row is updated for the given province or country. (Not standardised and so please clean before using it)
#Confirmed - Cumulative number of confirmed cases till that date
#Deaths - Cumulative number of of deaths till that date
#Recovered - Cumulative number of recovered cases till that date
covid2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19607 entries, 0 to 19606
Data columns (total 8 columns):
SNo                19607 non-null int64
ObservationDate    19607 non-null object
Province/State     9606 non-null object
Country/Region     19607 non-null object
Last Update        19607 non-null object
Confirmed          19607 non-null float64
Deaths             19607 non-null float64
Recovered          19607 non-null float64
dtypes: float64(3), int64(1), object(4)
memory usage: 1.2+ MB

In [6]:
covid2.shape

(19607, 8)

In [7]:
covid2.isnull().sum()

SNo                    0
ObservationDate        0
Province/State     10001
Country/Region         0
Last Update            0
Confirmed              0
Deaths                 0
Recovered              0
dtype: int64

In [9]:
covid2.describe().T

,count,mean,std,min,25%,50%,75%,max
SNo,19607.0,9804.000000,5660.197700,1.0,4902.5,9804.0,14705.5,19607.0
Confirmed,19607.0,3445.555159,16660.567883,0.0,11.0,115.0,768.0,295106.0
Deaths,19607.0,211.609731,1529.580698,0.0,0.0,1.0,10.0,27359.0
Recovered,19607.0,893.386597,6396.045309,0.0,0.0,2.0,81.0,123903.0

In [ ]:
#covid clean just need to fill missng value of state with NA

In [21]:
mers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 2 columns):
Country      27 non-null object
Confirmed    27 non-null int64
dtypes: int64(1), object(1)
memory usage: 560.0+ bytes

In [10]:
mers.isnull().sum()

Country      0
Confirmed    0
dtype: int64

In [11]:
mers.describe().T
#mers clean

           count       mean         std  min  25%  50%  75%     max
Confirmed   27.0  90.703704  395.029679  1.0  1.5  2.0  5.5  2058.0

In [12]:
hn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1822 entries, 0 to 1821
Data columns (total 4 columns):
Country        1822 non-null object
Cases          1822 non-null int64
Deaths         1821 non-null float64
Update Time    1822 non-null object
dtypes: float64(1), int64(1), object(2)
memory usage: 57.1+ KB

In [9]:
sars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2538 entries, 0 to 2537
Data columns (total 5 columns):
Date                            2538 non-null object
Country                         2538 non-null object
Cumulative number of case(s)    2538 non-null int64
Number of deaths                2538 non-null int64
Number recovered                2538 non-null int64
dtypes: int64(3), object(2)
memory usage: 99.3+ KB

In [13]:
sars.isnull().sum()

Date                            0
Country                         0
Cumulative number of case(s)    0
Number of deaths                0
Number recovered                0
dtype: int64

In [14]:
sars.describe().T
#sars clean

,count,mean,std,min,25%,50%,75%,max
Cumulative number of case(s),2538.0,219.211978,825.024564,0.0,1.0,3.0,14.75,5329.0
Number of deaths,2538.0,17.812845,61.425627,0.0,0.0,0.0,2.00,348.0
Number recovered,2538.0,134.678487,581.595350,0.0,1.0,2.0,9.00,4941.0

In [10]:
hn.shape

(1822, 4)

In [17]:
hn.sample(5)

                  Country  Cases  Deaths      Update Time
756       Martinique, FOC      1     0.0   6/22/2009 7:00
1043              Jamaica     11     0.0  6/15/2009 17:00
1151       United Kingdom    822     0.0   6/12/2009 7:00
483   Trinidad and Tobago     53     0.0   6/29/2009 9:00
900           Switzerland     27     0.0   6/19/2009 7:00

In [18]:
hn.Cases.sum()
#this number supose to be 60.8

1641738

In [19]:
hn.Deaths.sum()
# this supose 12,469 according to data description 
#https://www.kaggle.com/kerneler/starter-pandemic-2009-h1n1-swine-flu-238aa138-8

7859.0

In [20]:
hn.isnull().sum()

Country        0
Cases          0
Deaths         1
Update Time    0
dtype: int64

In [28]:
hn[hn.Deaths.isnull()]
#check the null data

     Country  Cases  Deaths     Update Time
715  Vanuatu      1     NaN  6/24/2009 7:00

In [21]:
hn.describe().T

         count        mean          std  min  25%   50%    75%      max
Cases   1822.0  901.063666  5264.291392  1.0  3.0  13.5  88.75  94512.0
Deaths  1821.0    4.315761    25.793340  0.0  0.0   0.0   0.00    429.0

In [22]:
#mers no deaths number but its avalible on WHO
mers.columns

Index(['Country', 'Confirmed'], dtype='object')

In [23]:
#mers['New Cases'].sum()
mers['Confirmed'].sum()

2449

In [22]:
mers.isnull().sum()

Country      0
Confirmed    0
dtype: int64

In [23]:
mers.describe().T
#

           count       mean         std  min  25%  50%  75%     max
Confirmed   27.0  90.703704  395.029679  1.0  1.5  2.0  5.5  2058.0